@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    background-color: #000000;
    color: #ffffff;
    -webkit-font-smoothing: antialiased; /* Makes text look sharper (Apple style) */
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    overflow-x: hidden;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}